[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
tensorflow-hub = "*"
keras = "*"
opencv-python = "*"
pillow = "*"

[dev-packages]
pycodestyle = "*"
flake8 = "*"

[requires]
python_version = "3.8"
